body {
  background: #252525;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
   overflow: hidden; /* Impedisce lo scrolling su tutto il documento */
}

.line-highlighted {
  /* stroke: #ff5722; */
  stroke: orange;
  stroke-width: 1px;
  stroke-opacity: 0.6;
}

svg {
  border: solid 1px grey;
}

text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.axis {
  font-size: 13px;
  color: khaki;
}

.axis-label {
  font-size: 16px;
  fill: khaki;
  text-anchor: middle;
}

#visualization-container {
  position: absolute;
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
  width: 95vw;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Due colonne */
  grid-template-rows: 1fr 1fr;
  /* Due righe */
  gap: 5px;
  /* Spazio opzionale tra le celle */
  box-sizing: border-box;
}

.visualizaition {
  box-sizing: border-box;
  /* Include bordo e padding nel calcolo delle dimensioni */
  border: 1px solid #ccc;
  /* Aggiunge un bordo per distinguere le visualizzazioni */
  /* padding: 10px; */
  /* Aggiunge padding interno */
  /* Aggiunta di overflow: hidden per gestire contenuti che superano le dimensioni del container */
  /* overflow: hidden; */
}

/* Correzione al nome della classe da "visualizaition" a "visualization" se è un typo */
/* Se il nome della classe è effettivamente "visualizaition", ignora questo commento */


/* #parallel-coordinates { */
  /* flex-basis: 50%; */
  /* Assegna al grafico il 50% della larghezza del contenitore */
  /* margin-right: 20px; */
  /* Margini opzionali per non attaccare la tabella */
/* } */

/* #table-container { */
  /* flex-basis: 50%; */
  /* Assegna alla tabella il 50% della larghezza del contenitore */
  /* overflow-x: auto; */
  /* Permetti lo scroll orizzontale se la tabella è troppo larga */
/* } */

/* Ordinamento specifico per ogni visualizzazione */
#parallel-coordinates {
  order: 1; /* Alto a sinistra */
}

#table-container {
  order: 2;
  overflow: auto;
  /* Basso a sinistra */
}

#scatter-plot {
  order: 3; /* Alto a destra */
}

#comparative-chart {
  order: 4; /* Basso a destra */
}