body {
  background: #252525;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
   overflow: hidden; /* Impedisce lo scrolling su tutto il documento */
}

.line-highlighted {
  /* stroke: #ff5722; */
  stroke: orange;
  stroke-width: 1px;
  stroke-opacity: 0.6;
}

svg {
  border: solid 1px grey;
}

text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.axis {
  font-size: 11px;
  color: khaki;
}

.axis-label {
  font-size: 11px;
  fill: khaki;
  text-anchor: middle;
}

#visualization-container {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
  width: 95%;
  height: 95%;
}

#parallel-chart {
  width: 69%;
  /* 2/3 width */
  height: 49%;
  /* 1/2 height */
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  /* Just for visibility */
}

#scatter-plot {
  width: 69%;
  /* 2/3 width */
  height: 49%;
  /* 1/2 height */
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid #ccc;
  /* Just for visibility */
}

#comparative-chart {
 width: 30%;
  /* 1/3 width */
  height: 100%;
  /* full height */
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #ccc;
  /* Just for visibility */
}