body {
  background: #252525;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.line-highlighted {
  /* stroke: #ff5722; */
  stroke: orange;
  stroke-width: 1px;
  stroke-opacity: 0.6;
  /* Leggermente trasparente per un effetto più morbido */
  /* stroke-linejoin: round; */
  /* Assicura che le curve e gli angoli siano arrotondati */
  /* stroke-linecap: round; */
  /* Estremità della linea arrotondate */
  /* transition: all 0.3s ease-in-out; */
  /* Transizione morbida per cambiamenti di stile */
  /* filter: drop-shadow(0 0 1px #ff5722); */
  /* Effetto glow intorno alla linea */
}

/* path.line {
  stroke: steelblue;
  stroke-width: 0.5;
} */

svg {
  border: solid 1px grey;
}

text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.axis {
  font-size: 13px;
  color: khaki;
}

.axis-label {
  font-size: 16px;
  fill: khaki;
  text-anchor: middle;
}